@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

h2{
    background-color: red;
    color: white;
}
.title-1{
    background-color: blue;
    color: yellow;
    font-size: 50px;

    /* padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px; */
    padding:100px 80px 150px 60px;

    /* margin-top: 140px;
    margin-right: 80px;
    margin-bottom: 100px;
    margin-left: 60px; */
    margin: 140px 100px 90px 75px;
    font-family: "Open Sans", sans-serif;
}
.title-2{
    /* background-color: #6708d3; */
    /* background-color: rgb(247, 9, 156); */
    background-color: rgba(8, 214, 214, 1);
    font-size: 44px;
    padding: 50px;
    margin: 50px 60px 80px 70px;
    color: #fff;
   
}
.title-3{
    background-color: #20ad96;
    font-size: 50px;
    padding: 10px;
    margin: 10px;

    /* border: 10px solid red; */
    border-width: 10px;
    border-style: solid;
    border-color: red;

}
.title-4{
    background-color: #e8d109;
    font-size: 40px;
    padding: 20px;
    margin: 50px;
    border: 10px dotted blue;
    
}
.title-5{
    background-color: #066f96;
    font-size: 40px;
    padding: 10px;
    border: 10px dashed red;
}
.title-6{
    background-color: #e88b09;
    font-size: 40px;
    padding: 10px;
    border: 10px double green;
}
.paragraph-1{
    background-color: #29f909;
    font-size: 50px;
    margin: 20px;
    padding: 10px;
    color: white;
    border: 10px groove purple;
    width: 50%;
    height: 300px;
}
a{
    background-color: tomato;
    font-size: 40px;
    padding: 10px;
    margin: 50px;
    text-decoration: none;
    border-top: 10px solid black;
    border-right: 10px groove purple;
    border-bottom: 10px dotted yellow;
    border-left: 10px dashed green;
}
.wrapper{
    background-color: red;
}
.span-1{
    background-color: blue;
}
.p-1{
    background-color: yellow;
}
.div-1{
    background-color: tomato;
    padding: 15px;
    height: 500px;
}
.title-7{
    background-color: white;
    color: red;
    height: 25%;
}
#text{
    background-color: aqua;
    width: 800px;
    height: fit-content;
    text-align: justify;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-style: italic;

    text-transform: capitalize;

    letter-spacing: 1px;

    word-spacing: 40px;

    line-height: 3;

    text-indent: 40px;

    text-decoration: none;
}
#list-wrapper{
    background-color: #29f909;
    list-style: none;
}
#king{
    font-size: 50px;
    color: gold;
    background-color: red;
    padding: 20px;
    margin: 10px;
    display: block;
}
.text-2{
    background-color: pink;
    display: inline;
}
#form-1{
    background-color: lightgrey;
    padding: 30px;
    margin: 10px;
    width: 200px;
    height: fit-content;

    border-radius: 10px;

    /* background-color: lightskyblue;
    padding: 30px;
    margin: 10px;
    width: 200px;
    height: fit-content;
    
    border-radius: 10px; */

}
#fill-1{
    color: royalblue;
    /* background-color: rgba(121, 121, 119, 0.2); */
    font-family: 'Times New Roman', Times, serif;
    font-size: 13px;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 20px;
    margin-top: 0px;
    text-align: start;

}
#form-1{
    color: grey;

}
#submit-1{
    color: green;
    font-size: 20px;
    font-weight: bold;
    background: local;
    font-family: effects;
    margin: 50px 0px 0px 10px;

    border-radius: 5px;
    border-color: white;
    ;
}
#reset-1{
    color: tomato;
    background: local;
    font-size: 15px;
    font-weight: bold;
    margin-left: 10px;
    font-family: effects;

    border-radius: 5px;
    border-color: white;
    
}
#bbb-1{
    color: royalblue;
    /* background: rgba(121, 121, 119, 0.2); */
    font-size: 15px;
    text-decoration:dotted underline;
}
#sin-1{
    color: green;
    /* background-color: lightgreen; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    padding: 10px;
    margin: 10px;

    border-radius: 50px;
    border-color: goldenrod;
    
}
#sout-1{
    color: red;
    /* background-color: lightsalmon; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    padding: 10px;
    margin: 10px;
    
    border-radius: 50px;
    border-color: goldenrod;

}
